:root {

    --primary-dark-cyan: hsl(185, 75%, 39%);
    --primary-very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --primary-dark-grayish-blue: hsl(227, 10%, 46%);

    --neutral-dark-gray: hsl(0, 0%, 59%)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background-color: var( --primary-dark-cyan );
    background-image: url( "../images/bg-pattern-top.svg" );
}

.action-buttons {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.action-buttons button {
    padding: 10px 20px;
    background-color: #B5CDA3;
    border: 3px solid #716F81;
    margin: 0 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    padding: 0 25px;
}

.gallery {
    width: 375%;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    position: relative;
    background-color: #FFF;
    height: 380px;
    margin: 50px 0;
}

.card-header {
    position: relative;
    width: 100%;
    height: 150px;
}

.card-header img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.card-body {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 240px;
    top: 55px;
    left: 46px;
}

.card-body div {
    border-radius: 50%;
    padding: 8px;
    background-color: #fff;
    position: relative;
    width: 130px;
    height: 130px;
}

.card-body img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.card-body span {
    font-weight: bold;
    color: var( --primary-very-dark-desaturated-blue );
}

.card-body p {
    color: var( --primary-dark-grayish-blue );
    width: 140px;
    margin: 12px 0 4px -15px;
}

.card-city {
    margin: 0 0 0 -15px!important;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
}

.card-footer div {
    margin: 0 20px;
}

.card-footer span {
    font-weight: bold;
    color: var( --primary-very-dark-desaturated-blue );
    font-size: 1.2em;
}

.card-footer p {
    color: var( --neutral-dark-gray );
    font-size: 0.8em;
    letter-spacing: 2px;
    margin-top: 7px;
}
